{% extends 'core/main.html' %}
{% block content %}
{% load static %}

    
    <link rel="stylesheet" href="{% static 'core/css/book-list.css' %}">
    <script src="{% static 'core/js/book-list.js' %}"></script>

    <div class="sidebar-left">

        <div class="bookform">

            <form method="POST" action="">
                {% csrf_token %}

                <label class="bookform-label">Add a Book</label>
                
                <input class="bookform-input" name="title-book" type="text" placeholder="Title...">

                <input class="bookform-input2" name="fauthor-book" type="text" placeholder="First name...">

                <input class="bookform-input2" name="lauthor-book" type="text" placeholder="Last name...">

                <input class="bookform-input" name="link-book" type="text" placeholder="Link...">

                <center><button class="bookform-button" type="submit" name="AddBook" value="AddBook">Submit</button></center>

            </form>

        </div>

        <div class="wishlist">

            <table class="wishlist-table" style="width:100%;">
                {% for book in books %}
                    {% if book.book_started is False %}


                        <tr>   
                            <th class="wishlist-th"><a href="{% url 'book-detail' book.id %}">{{ book.title }}</a></th>
                            <th>
                                <form method="GET" action="">
                                    <input type="hidden" name="hidden-book" value="{{ book.id }}"/>
                                    <input class="addbook-input" type="submit" value="Add" name="add-to-book-list"></form>
                                </form>
                            </th>
                        </tr>

                        <tr>
                            <td class="wishlist-td">{{ book.contributors.get }}&nbsp;&nbsp;&nbsp;<b>{{ book.max_pg_num }}</b></td>
                        </tr>                        
                        
                    {% endif %}

                {% endfor %}
            </table>
        </div>
        
    </div>
    

    <div class="nav">
        <label class="nav-label">Collection</label>
        <form method="GET" action="">
            <input class="nav-input" name="search" type="text" placeholder="Search...">
            <button class="nav-submit" name="search-submit" type="submit" value="search-submit">Search</button>
        </form>
    </div> 

    <div class="booklist">

        {% for book in books %}
            {% if book.book_started is True %}

            <div class="booklist-card">
                <div class="booklist-div1">
                    <label class="booklist-card-label">{{ book.title }}</label>
                    <a class="booklist-card-a" href="{% url 'book-detail' book.id %}">View</a>
                    <a class="booklist-card-a" href="{% url 'book-edit' book.id %}">Edit</a>
                </div>
                
                <div class="booklist-div2">
                    {% if book.review.rating %}
                        <h3>{{ book.review.rating }}</h3>
                    {% else %}
                        <p>No Rating</p>
                    {% endif %}
                </div>
                
                <div style="border: 1px solid black; width: auto;">
                    <form method="GET" action=''>
                        <input type="hidden" name="hidden-book-back" value="{{ book.id }}"/>
                        <input class="booklist-card-input" type="submit" value="Remove" name="Remove"/>
                    </form>
                </div>
                


            </div>

            {% endif %}
        {% endfor %}

    </div>





    <!--
    <div class="booklist-div" style="width: 100%;">
        <table class="booklist-table">
            <tr>
                <th>Book</th>
                <th>Pages</th>
                <th>Rating</th>
                <th>Review</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            {% for book in books %}
                {% if book.book_started is True %}
                    <tr>
                        <th><a href="{% url 'book-detail' book.id %}">{{ book.title }}</a></th>
                        <th>{{ book.max_pg_num }}</th>
                        <th>
                            {% if book.review.rating %}
                                <p>{{ book.review.rating }}</p>
                            {% else %}
                                <p>--</p>
                            {% endif %}
                        </th>
                        <th>
                            {% if book.review %}
                                <p>{{ book.review.content %}</p>
                            {% else %}
                                <a href="">Add Review</a>
                            {% endif %}
                        </th>
                        <th><a href="{% url 'book-edit' book.id %}">Edit</a></th>
                        <th>
                            <form method="GET" action=''>
                                <input type="hidden" name="hidden-book-back" value="{{ book.id }}"/>
                                <input type="submit" value="back" name="back"/>
                            </form>

                        </th>
                    </tr>
                {% endif %}
            {% endfor %}

        </table>
    </div>-->


{% endblock %}