<!DOCTYPE html>
{% load static %}
<!-- GoogleMaps(dark) HEX Colors
    dark grey: 1C2534;
    darker grey: 182025;
    light green: 3C7E3F;
    dark green: 2D6232;
    red: C84032;
    white: FFFFF;
    light grey: 9C9EA5;
    shadow: 4A5261;
    -->
<html lang="en">

    <head>
        <meta charste="UTF-8">
        <meta name="description" content="Book Management site">
        <title>Books Management</title>
        <link rel="stylesheet" href="{% static 'core/css/main.css' %}">


    </head>
    <body>

        {% block content %}

        {% endblock %}

    </body>
</html>
